@mixin Center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
@mixin Left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

@mixin ColumnCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin ColumnTop {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

@mixin ColumnTopLeft{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}